/* General page styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header styles */
.header-container {
    padding: 1rem;
    border-bottom: solid 1px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-button {
    padding: 0.5rem;
    font-size: 1rem;
    border: solid 1px black;
    border-radius: 15px;
}
.add-button:hover {
    cursor: pointer;
}
.add-button:active {
    filter: brightness(90%);
}

/* Main content styles */
.library-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.book-card {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
}

/* Footer styles */
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
    border-top: solid 1px black;
}