/* General page styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header styles */
.header-container {
    padding: 1rem;
    border-bottom: solid 1px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-button {
    padding: 0.5rem;
    font-size: 1rem;
    border: solid 1px black;
    border-radius: 15px;
}
.add-button:hover {
    cursor: pointer;
}
.add-button:active {
    filter: brightness(90%);
}

/* Main content styles */
.library-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2rem;
}

.book-card {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0.5rem;
    margin: 0.5rem;
    text-align: center;
}

.book-remove-btn,
.book-read-toggle {
    padding: 0.5rem;
    width: 100%;
}
.book-remove-btn:hover,
.book-read-toggle:hover {
    cursor: pointer;
}
.book-remove-btn:active,
.book-read-toggle:active {
    filter: brightness(90%);
}


/* Footer styles */
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
    border-top: solid 1px black;
    background-color: #ffffff;
}

/* Modal form styles */
.modal-form {
    border: solid 1px black;
    border-radius: 15px;
    position: absolute;
    top: 20%;
    left: 40%;
}
.modal-form::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.book-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.checkbox-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-btn {
    width: 5rem;
    height: 2rem;
    border-radius: 15px;
    border: solid 1px black;
}
.form-btn:hover {
    cursor: pointer;
}
.form-btn:active {
    filter: brightness(90%);
}